version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: avantix-one-backend
    restart: always
    environment:
      DATABASE_URL: postgres://avaone:ea167ca0e95c175c1051@avantix_one_db_planillas_avantixone:5432/db_planillas_avantixone?sslmode=disable
      PORT: 3000
    ports:
      - "3000:3000"

  frontend:
    build: .
    container_name: avantix-one-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
